html {
  font-family: 'Roboto', Arial;
  font-size: 62.5%;
}

*, *::after, *::before {
  box-sizing: inherit;
}

.layer-wrapper {
  position: relative;
  margin: 3rem auto;
  width: 65rem;
  font-size: 1.6rem;
}

.layer-wrapper div {
  color: #2e8275;
}

.layer {
  display: block;
  position: absolute;
  color: #79B9AF;
  border: 1px solid #A0EDDF;
  background-color: #A0EDDF;
  width: 600px;
  border-radius: 2px;

  -webkit-transition: top ease-out 0.5s;
  -moz-transition: top ease-out 0.5s;
  -ms-transition: top ease-out 0.5s;
  -o-transition: top ease-out 0.5s;
  transition: top ease-out 0.5s;
  outline: none;
}

.layer header {
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 15px;
}

.active {
  background-color: white;

  -webkit-transition: max-height 2500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -moz-transition: max-height 2500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -o-transition: max-height 2500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition: max-height 2500ms cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */

}

.layer-content header {
  padding: 0 3rem 2rem 3rem;

  -webkit-transition: background-color .5s cubic-bezier(0.470, 0.000, 0.745, 0.715);
  -moz-transition: background-color .5s cubic-bezier(0.470, 0.000, 0.745, 0.715);
  -o-transition: background-color .5s cubic-bezier(0.470, 0.000, 0.745, 0.715);
  transition: background-color .5s cubic-bezier(0.470, 0.000, 0.745, 0.715); /* easeInSine */
}

.active article, .active .description {
  white-space: normal;
  line-height: 20px;
  text-align: left;
  padding: 0px 3rem 3rem 3rem;
}

.active .description {
  padding: 0 3rem 0 3rem;
}

.active header {
  cursor: auto !important;
  pointer-events: none !important;
}

.layer-content {
  max-height: 50px;
  line-height: 50px;
  overflow: hidden;
}

.layer:hover header {
  background-color: white;
  cursor: pointer;
}

#layer1 {
  top: 0;
}

#layer2 {
  top: 60px;
}

#layer3 {
  top: 120px;
}

#layer4 {
  top: 180px;
}

.active .close {
  opacity: 1;
}

.close {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 8px;
  right: 8px;
  opacity: 0;
  background-image: url("images/ic_close.png");
  background-size: cover;
  cursor: pointer;
  -webkit-transition: opacity .5s cubic-bezier(0.470, 0.000, 0.745, 0.715) 0.25s;
  -moz-transition: opacity .5s cubic-bezier(0.470, 0.000, 0.745, 0.715) 0.25s;
  -o-transition: opacity .5s cubic-bezier(0.470, 0.000, 0.745, 0.715) 0.25s;
  transition: opacity .5s cubic-bezier(0.470, 0.000, 0.745, 0.715) 0.25s; /* easeInSine */
  z-index: 1;
}

.close:hover {
  opacity: 0.5;
}

.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.on-top {
  z-index: 101;
}